<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yankuang.equipment.authority.mapper.AuthorityGroupMappingMapper" >
    <resultMap id="BaseResultMap" type="com.yankuang.equipment.authority.model.AuthorityGroupMapping" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="group_id" property="groupId" jdbcType="BIGINT" />
        <result column="authority_id" property="authorityId" jdbcType="BIGINT" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_at" property="createAt" jdbcType="BIGINT" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_at" property="updateAt" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List" >
     id, group_id, authority_id, status, create_by, create_at, update_by, update_at
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from el_authority_group_mapping
        where id = #{id}
    </select>

    <delete id="delete" parameterType="java.lang.Long" >
      update el_authority_group_mapping
      set status = 99
      where id = #{id}
    </delete>

    <insert id="create" parameterType="com.yankuang.equipment.authority.model.AuthorityGroupMapping"  keyProperty="id" useGeneratedKeys="true">
      insert into el_authority_group_mapping (id, group_id, authority_id,
        status, create_by, create_at,
        update_by, update_at)
      values (#{id}, #{groupId}, #{authorityId},
        1, #{createBy}, unix_timestamp(now()),
        #{updateBy}, unix_timestamp(now()))
    </insert>

    <select id="selectByAuthorityIdAndGroupId" resultMap="BaseResultMap" parameterType="Map" >
        select
        <include refid="Base_Column_List" />
        from el_authority_group_mapping
        where group_id = #{groupId}
        and authority_id = #{authorityId}
    </select>

    <update id="update" parameterType="com.yankuang.equipment.authority.model.AuthorityGroupMapping" >
        update el_authority_group_mapping
        <set >
            <if test="groupId != null" >
                group_id = #{groupId},
            </if>
            <if test="authority != null" >
                authority_id = #{authorityId},
            </if>
            <if test="status != null" >
                status = #{status},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy},
            </if>
            <if test="createAt != null" >
                create_at = #{createAt},
            </if>
            <if test="updateBy != null" >
                update_by = #{updateBy},
            </if>
            <if test="updateAt != null" >
                update_at = #{updateAt},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>