<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yankuang.equipment.authority.mapper.AuthorityMapper">
    <resultMap id="BaseResultMap" type="com.yankuang.equipment.authority.model.Authority" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="p_id" property="pId" jdbcType="BIGINT" />
        <result column="type" property="type" jdbcType="BIGINT" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="sorting" property="sorting" jdbcType="BIGINT" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="BIGINT" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_at" property="updateAt" jdbcType="BIGINT" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_at" property="createAt" jdbcType="BIGINT" />
        <result column="level" property="level" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List" >
    id, code, p_id, type, status, name, sorting, url, remark, version, update_by, update_at,
    create_by, create_at, level
  </sql>

    <select id="findById" parameterType="long" resultMap="BaseResultMap" >
        SELECT <include refid="Base_Column_List" />
        FROM yankuang_equipment.el_authority
        WHERE id = #{id}
        AND status != 99
    </select>

    <update id="update" parameterType="Authority" >
        update el_authority
        <set >
            <if test="code != null" >
                code = #{code},
            </if>
            <if test="name != null" >
                name = #{name},
            </if>
            <if test="url != null" >
                url = #{url},
            </if>
            <if test="type != null" >
                type = #{type},
            </if>
            <if test="status != null" >
                status = #{status},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy},
            </if>
            <if test="remark != null" >
                remark = #{remark},
            </if>
            <if test="sorting != null" >
                sorting = #{sorting},
            </if>
            <if test="updateBy != null" >
                update_by = #{updateBy},
            </if>
            <if test="version != null" >
                version = #{version},
            </if>
            <if test="createAt != null" >
                create_at = #{createAt},
            </if>
            update_at = unix_timestamp(now())
        </set>
        where id = #{id}
    </update>


    <insert id="create" parameterType="Authority" keyProperty="id" useGeneratedKeys="true">
      insert into el_authority
        (id, code, p_id, type, status, name,
          sorting, url, remark,
          version, update_by, update_at,
          create_by, create_at, level
          )
      values
        (#{id}, #{code}, #{pId},
        #{type}, 1, #{name},
        #{sorting}, #{url}, #{remark},
        0, #{updateBy}, unix_timestamp(now()),
        #{createBy}, unix_timestamp(now()), #{level}
        )
    </insert>

    <update id="delete" parameterType="long">
        UPDATE yankuang_equipment.el_authority
        <set>
            status = 99,
            update_at = unix_timestamp(now())
        </set>
        WHERE id = #{id}
    </update>

    <select id="findByName" parameterType="String" resultMap="BaseResultMap" >
        SELECT <include refid="Base_Column_List" />
        FROM yankuang_equipment.el_authority
        WHERE name = #{name}
        AND status != 99
    </select>

    <select id="findAll" resultMap="BaseResultMap" >
        SELECT <include refid="Base_Column_List" />
        FROM yankuang_equipment.el_authority
        WHERE status != 99
        ORDER BY create_at DESC
    </select>

    <select id="paging" parameterType="map" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM yankuang_equipment.el_authority
        WHERE
            1 = 1
            <if test="code != null" >
                AND code = #{code}
            </if>
            <if test="name != null" >
                AND name = #{name}
            </if>
            <if test="url != null" >
                AND url = #{url}
            </if>
            <if test="type != null" >
                AND type = #{type}
            </if>
            <if test="createBy != null" >
                AND create_by = #{createBy}
            </if>
            <if test="remark != null" >
                AND remark = #{remark}
            </if>
            <if test="sorting != null" >
                AND sorting = #{sorting}
            </if>
            <if test="updateAt != null" >
                AND update_at = #{updateAt}
            </if>
            <if test="updateBy != null" >
                AND update_by = #{updateBy}
            </if>
            <if test="version != null" >
                AND version = #{version}
            </if>
            <if test="createAt != null" >
                AND create_at = #{createAt}
            </if>
            <if test="id != null">
                AND id = #{id}
            </if>
            AND status != 99
        order by create_at desc LIMIT #{offset}, #{limit}
    </select>

    <select id="count" parameterType="map" resultType="long">
        SELECT count(1) FROM yankuang_equipment.el_authority
        WHERE
            1 = 1
            <if test="code != null" >
                AND code = #{code}
            </if>
            <if test="name != null" >
                AND name = #{name}
            </if>
            <if test="url != null" >
                AND url = #{url}
            </if>
            <if test="type != null" >
                AND type = #{type}
            </if>
            <if test="createBy != null" >
                AND create_by = #{createBy}
            </if>
            <if test="remark != null" >
                AND remark = #{remark}
            </if>
            <if test="sorting != null" >
                AND sorting = #{sorting}
            </if>
            <if test="updateAt != null" >
                AND update_at = #{updateAt}
            </if>
            <if test="updateBy != null" >
                AND update_by = #{updateBy}
            </if>
            <if test="version != null" >
                AND version = #{version}
            </if>
            <if test="createAt != null" >
                AND create_at = #{createAt}
            </if>
            <if test="id != null">
                AND id = #{id}
            </if>
            AND status != 99
    </select>

</mapper>