<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yankuang.equipment.authority.mapper.AuthorityGroupMapper" >
    <resultMap id="BaseResultMap" type="com.yankuang.equipment.authority.model.AuthorityGroup" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="p_id" property="pId" jdbcType="BIGINT" />
        <result column="level" property="level" jdbcType="BIGINT" />
        <result column="sorting" property="sorting" jdbcType="BIGINT" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_at" property="createAt" jdbcType="BIGINT" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_at" property="updateAt" jdbcType="BIGINT" />
        <result column="version" property="version" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List" >
      id, name, code, p_id, level, sorting, status, remark, create_by, create_at, update_by,
     update_at, version
   </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from el_authority_group
        where id = #{id}
   </select>

    <select id="findByName" parameterType="String" resultMap="BaseResultMap" >
        SELECT <include refid="Base_Column_List" />
        FROM yankuang_equipment.el_authority_group
        WHERE name = #{name}
        AND status != 99
    </select>

    <delete id="delete" parameterType="java.lang.Long" >
    update el_authority_group
    set status = 99
    where id = #{id}
   </delete>

  <insert id="create" parameterType="com.yankuang.equipment.authority.model.AuthorityGroup" >
    insert into el_authority_group (id, name, code,
      p_id, level, sorting, status,
      remark, create_by, create_at,
      update_by, update_at, version
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
      #{pId,jdbcType=BIGINT}, #{level,jdbcType=BIGINT}, #{sorting,jdbcType=BIGINT}, #{status,jdbcType=TINYINT},
      #{remark,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createAt,jdbcType=BIGINT},
      #{updateBy,jdbcType=VARCHAR}, #{updateAt,jdbcType=BIGINT}, #{version,jdbcType=BIGINT}
      )
  </insert>

  <update id="update" parameterType="com.yankuang.equipment.authority.model.AuthorityGroup" >
        update el_authority_group
        <set >
            <if test="name != null" >
                name = #{name},
            </if>
            <if test="code != null" >
                code = #{code},
            </if>
            <if test="pId != null" >
                p_id = #{pId},
            </if>
            <if test="level != null" >
                level = #{level},
            </if>
            <if test="sorting != null" >
                sorting = #{sorting},
            </if>
            <if test="status != null" >
                status = #{status},
            </if>
            <if test="remark != null" >
                remark = #{remark},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy},
            </if>
            <if test="createAt != null" >
                create_at = #{createAt},
            </if>
            <if test="updateBy != null" >
                update_by = #{updateBy},
            </if>
            <if test="updateAt != null" >
                update_at = #{updateAt},
            </if>
            <if test="version != null" >
                version = #{version},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="paging" parameterType="map" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM el_authority_group
        <where>
            1 = 1
            and status != 99
        </where>
        order by create_at desc LIMIT #{offset}, #{limit}
    </select>


</mapper>