<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dept">
    <resultMap id="BaseResultMap" type="Dept" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="pcode" property="pcode" jdbcType="VARCHAR" />
        <result column="level" property="level" jdbcType="BIGINT" />
        <result column="sorting" property="sorting" jdbcType="BIGINT" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="cteate_by" property="cteateBy" jdbcType="VARCHAR" />
        <result column="create_at" property="createAt" jdbcType="BIGINT" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_at" property="updateAt" jdbcType="BIGINT" />
        <result column="version" property="version" jdbcType="BIGINT" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, name, code, pcode, level, sorting, remark, create_by, create_at, update_by, update_at, version
    </sql>

    <select id="findById" parameterType="long" resultMap="BaseResultMap" >
        SELECT <include refid="Base_Column_List" />
        FROM yankuang_equipment.el_department
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="Dept" >
        update yankuang_equipment.el_department
        <set >
            <if test="name != null" >
                name = #{name},
            </if>
            <if test="code != null" >
                code = #{code},
            </if>
            <if test="pcode != null" >
                pcode = #{pcode},
            </if>
            <if test="level != null" >
                level = #{level},
            </if>
            <if test="sorting != null" >
                sorting = #{sorting},
            </if>
            <if test="remark != null" >
                remark = #{remark},
            </if>
            <if test="cteateBy != null" >
                cteate_by = #{cteateBy},
            </if>
            <if test="createAt != null" >
                create_at = #{createAt},
            </if>
            <if test="updateBy != null" >
                update_by = #{updateBy},
            </if>
            <if test="updateAt != null" >
                update_at = #{updateAt},
            </if>
            <if test="version != null" >
                version = #{version},
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="create" parameterType="Dept" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO yankuang_equipment.el_department
        (<include refid="Base_Column_List" />)
        VALUES(#{id}, #{name}, #{code},
        #{pcode}, #{level}, #{sorting},
        #{remark}, #{createBy}, #{createAt},
        #{updateBy}, #{updateAt}, #{version}
        )
    </insert>

    <update id="updatedel" parameterType="long">
        UPDATE yankuang_equipment.el_department
        <set>
            status = 99
        </set>
        WHERE id = #{id}
    </update>

    <select id="findByNameD" parameterType="String" resultMap="BaseResultMap" >
        SELECT <include refid="Base_Column_List" />
        FROM yankuang_equipment.el_department
        WHERE name = #{name}
    </select>

    <select id="findAllD" resultMap="BaseResultMap" >
        SELECT <include refid="Base_Column_List" />
        FROM yankuang_equipment.el_department
        WHERE 1=1
        <if test="name != null" >
            AND name = #{name}
        </if>
        <if test="code != null" >
            AND code = #{code}
        </if>
        <if test="pcode != null" >
            AND pcode = #{pcode}
        </if>
        <if test="level != null" >
            AND level = #{level}
        </if>
        <if test="sorting != null" >
            AND sorting = #{sorting}
        </if>
        <if test="remark != null" >
            AND remark = #{remark}
        </if>
        <if test="cteateBy != null" >
            AND cteate_by = #{cteateBy}
        </if>
        <if test="createAt != null" >
            AND create_at = #{createAt}
        </if>
        <if test="updateBy != null" >
            AND update_by = #{updateBy}
        </if>
        <if test="updateAt != null" >
            AND update_at = #{updateAt}
        </if>
        <if test="version != null" >
            AND version = #{version}
        </if>
        <if test="id != null">
            AND id = #{id}
        </if>
        ORDER BY create_at asc
    </select>
</mapper>