<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yankuang.equipment.authority.mapper.DeptUserMapper" >
  <resultMap id="BaseResultMap" type="com.yankuang.equipment.authority.model.DeptUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="department_id" property="departmentId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_at" property="updateAt" jdbcType="BIGINT" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, department_id, user_id, create_by, update_at, update_by, create_at, version,
    status
  </sql>

  <insert id="create" parameterType="DeptUser" >
    insert into el_department_user_mapping (department_id, user_id,
      create_by, update_at, update_by,
      create_at, version, status
      )
    values (#{departmentId}, #{userId},
      #{createBy}, unix_timestamp(now()), #{updateBy},
      unix_timestamp(now()), 0, 1
      )
  </insert>

  <update id="deleteByUserId" parameterType="Long">
    UPDATE el_department_user_mapping
    SET status = 99
    WHERE user_id = #{userId}
  </update>

  <update id="deleteByDeptId" parameterType="Long">
    UPDATE el_department_user_mapping
    SET status = 99
    WHERE department_id = #{deptId}
  </update>

  <select id="findByDeptId" resultMap="BaseResultMap" parameterType="Long">
    SELECT <include refid="Base_Column_List"/>
    FROM el_department_user_mapping
    WHERE department_id = #{deptId}
    AND status != 99
  </select>

  <select id="findByUserId" resultMap="BaseResultMap" parameterType="Long">
    SELECT <include refid="Base_Column_List"/>
    FROM el_department_user_mapping
    WHERE user_id = #{userId}
    AND status != 99
  </select>

  <select id="findByDeptIdAndUserId" resultMap="BaseResultMap" parameterType="Map">
    select
    <include refid="Base_Column_List"/>
    from el_department_role_mapping
    where department_id = #{deptId}
    and user_id = #{userId}
    and status != 99
  </select>


</mapper>