<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrgDepartment">
    <resultMap id="BaseResultMap" type="OrgDepartment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="organizationName" property="organizationName" jdbcType="VARCHAR"/>
        <id column="departmentName" property="departmentName" jdbcType="VARCHAR"/>
        <id column="createAt" property="createAt" jdbcType="BIGINT"/>
        <id column="create_by" property="create_by" jdbcType="VARCHAR"/>
        <id column="code" property="code" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="deptOrgGetAll" parameterType="OrgDepartment" resultMap="BaseResultMap">
        SELECT mapping.id id,organization.name organizationName,department.name departmentName,department.create_at createAt,department.create_by createBy,department.code code
        FROM el_organization organization,el_organization_department_mapping mapping,el_department department
        WHERE organization.id = mapping.organization_id
        AND department.id = mapping.department_id
        ORDER BY department.create_at LIMIT #{startPage},#{endPage}
    </select>
</mapper>