<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yankuang.equipment.authority.mapper.DeptRoleMapper">
    <resultMap id="BaseResultMap" type="com.yankuang.equipment.authority.model.DeptRole">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="dept_code" property="deptCode" jdbcType="BIGINT"/>
        <result column="role_code" property="roleCode" jdbcType="BIGINT"/>
        <result column="project_code" property="projectCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
      id, dept_code, role_code, project_code, status
    </sql>

    <insert id="create" parameterType="com.yankuang.equipment.authority.model.DeptRole">
      insert into el_department_role_mapping
      (dept_code, role_code, project_code, status)
      values
        (#{deptCode}, #{roleCode},"sb001", 1)
    </insert>

    <select id="findByDeptCodeAndRoleCode" resultMap="BaseResultMap" parameterType="Map">
        select
        <include refid="Base_Column_List"/>
        from el_department_role_mapping
        where dept_code = #{deptCode}
        and role_Code = #{roleCode}
        AND status != 99
    </select>

    <delete id="deleteByDeptCodeAndRoleCode" parameterType="Map">
        update el_department_role_mapping
        set status == 99
        WHERE  dept_code = #{deptCode}
        and role_Code = #{roleCode}
    </delete>

    <update id="deleteByRoleCodes" parameterType="java.util.List">
        UPDATE el_department_role_mapping
        <set>
            status = 99
        </set>
        WHERE role_Code in
        <foreach collection="list" item="code" separator="," open="(" close=")">
            #{code}
        </foreach>
    </update>

    <update id="deleteByDeptCodes" parameterType="java.util.List">
        UPDATE el_department_role_mapping
        <set>
            status = 99
        </set>
        WHERE dept_code in
        <foreach collection="list" item="code" separator="," open="(" close=")">
            #{code}
        </foreach>
    </update>

</mapper>