<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Organization">
  <resultMap id="BaseResultMap" type="Organization">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pcode" jdbcType="VARCHAR" property="pcode" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="sorting" jdbcType="INTEGER" property="sorting" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_at" jdbcType="BIGINT" property="createAt" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="update_at" jdbcType="BIGINT" property="updateAt" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, pcode, level, sorting, remark, create_by, create_at, update_by, code, update_at, 
    version
  </sql>

  <select id="findById" parameterType="long" resultMap="BaseResultMap" >
    SELECT <include refid="Base_Column_List" />
    FROM yankuang_equipment.el_organization
    WHERE id = #{id}
  </select>

  <insert id="create" parameterType="Organization" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO yankuang_equipment.el_organization
    (<include refid="Base_Column_List" />)
    VALUES(#{id}, #{name}, #{pcode},
    #{level}, #{sorting}, #{remark},
    #{createBy}, #{createAt}, #{updateBy},
    #{code}, #{updateAt}, #{version}
    )
  </insert>

  <update id="update" parameterType="organization" >
    update el_organization
    <set >
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="pcode != null" >
        pcode = #{pcode},
      </if>
      <if test="level != null" >
        level = #{level},
      </if>
      <if test="sorting != null" >
        sorting = #{sorting},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy},
      </if>
      <if test="code != null" >
        code = #{code},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt},
      </if>
      <if test="version != null" >
        version = #{version},
      </if>
    </set>
    where id = #{id}
  </update>

  <update id="updatedel" parameterType="long">
    UPDATE el_organization
    <set>
      status = 99
    </set>
    WHERE id = #{id}
  </update>

  <select id="findByNameO" parameterType="String" resultMap="BaseResultMap" >
    SELECT <include refid="Base_Column_List" />
    FROM yankuang_equipment.el_organization
    WHERE name = #{name}
  </select>

  <select id="findAllO" resultMap="BaseResultMap" >
    SELECT <include refid="Base_Column_List" />
    FROM yankuang_equipment.el_organization
    WHERE 1=1
    <if test="name != null" >
      AND name = #{name}
    </if>
    <if test="pcode != null" >
      AND pcode = #{pcode}
    </if>
    <if test="level != null" >
      AND level = #{level}
    </if>
    <if test="sorting != null" >
      AND sorting = #{sorting}
    </if>
    <if test="remark != null" >
      AND remark = #{remark}
    </if>
    <if test="createBy != null" >
      AND create_by = #{createBy}
    </if>
    <if test="createAt != null" >
      AND create_at = #{createAt}
    </if>
    <if test="updateBy != null" >
      AND update_by = #{updateBy}
    </if>
    <if test="code != null" >
      AND code = #{code}
    </if>
    <if test="updateAt != null" >
      AND update_at = #{updateAt}
    </if>
    <if test="version != null" >
      AND version = #{version}
    </if>
    <if test="id != null">
      AND id = #{id}
    </if>
    ORDER BY create_at asc
  </select>
</mapper>