<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yankuang.equipment.authority.mapper.OrganizationMapper">
  <resultMap id="BaseResultMap" type="com.yankuang.equipment.authority.model.Organization">
    <id column="id" jdbcType="BIGINT" property="id" />
    <id column="p_id" jdbcType="BIGINT" property="pId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pcode" jdbcType="VARCHAR" property="pcode" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="sorting" jdbcType="INTEGER" property="sorting" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_at" jdbcType="BIGINT" property="createAt" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="update_at" jdbcType="BIGINT" property="updateAt" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="type_id" jdbcType="BIGINT" property="typeId"/>
  </resultMap>

  <sql id="all_clos">
    id, p_id, name, pcode, level, sorting, remark, create_by, create_at, update_by, code, update_at,
    version, status,type_id
  </sql>

  <select id="findById" parameterType="long" resultMap="BaseResultMap" >
    SELECT <include refid="all_clos" />
    FROM yankuang_equipment.el_organization
    WHERE id = #{id}
    AND status != 99
  </select>

  <insert id="create" parameterType="com.yankuang.equipment.authority.model.Organization"
          keyProperty="id" useGeneratedKeys="true">
    INSERT INTO yankuang_equipment.el_organization
    (<include refid="all_clos" />)
    VALUES(#{id},#{pId}, #{name}, #{pcode},
    #{level}, #{sorting}, #{remark},
    #{createBy},unix_timestamp(now()), #{updateBy},
    #{code}, unix_timestamp(now()), #{version},1, #{typeId}
    )
  </insert>

  <update id="update" parameterType="com.yankuang.equipment.authority.model.Organization" >
    update el_organization
    <set >
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="pId != null" >
        p_id = #{pId},
      </if>
      <if test="pcode != null" >
        pcode = #{pcode},
      </if>
      <if test="level != null" >
        level = #{level},
      </if>
      <if test="sorting != null" >
        sorting = #{sorting},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy},
      </if>
      <if test="code != null" >
        code = #{code},
      </if>
      <if test="version != null" >
        version = #{version},
      </if>
      <if test="status != null" >
        version = #{status},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId},
      </if>
      update_at = unix_timestamp(now())
    </set>
    where id = #{id}
  </update>

  <update id="delete" parameterType="long">
    UPDATE el_organization
    <set>
      status = 99,
      update_at = unix_timestamp(now())
    </set>
    WHERE id = #{id}
  </update>

  <select id="findByName" parameterType="String" resultMap="BaseResultMap" >
    SELECT <include refid="all_clos" />
    FROM yankuang_equipment.el_organization
    WHERE name = #{name}
    AND status != 99
  </select>

  <select id="findAll" resultMap="BaseResultMap" >
    SELECT <include refid="all_clos" />
    FROM yankuang_equipment.el_organization
    WHERE status != 99
    ORDER BY create_at desc
  </select>

  <select id="list" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="all_clos"/>
    FROM yankuang_equipment.el_organization
    WHERE
    1 = 1
    <if test="name != null" >
      AND name = #{name}
    </if>
    <if test="pcode != null" >
      AND pcode = #{pcode}
    </if>
    <if test="level != null" >
      AND level = #{level}
    </if>
    <if test="sorting != null" >
      AND sorting = #{sorting}
    </if>
    <if test="remark != null" >
      AND remark = #{remark}
    </if>
    <if test="createBy != null" >
      AND create_by = #{createBy}
    </if>
    <if test="createAt != null" >
      AND create_at = #{createAt}
    </if>
    <if test="updateBy != null" >
      AND update_by = #{updateBy}
    </if>
    <if test="code != null" >
      AND code = #{code}
    </if>
    <if test="updateAt != null" >
      AND update_at = #{updateAt}
    </if>
    <if test="version != null" >
      AND version = #{version}
    </if>
    <if test="id != null">
      AND id = #{id}
    </if>
    <if test="status != null" >
      AND version = #{status}
    </if>
    <if test="typeId != null">
      AND type_id = #{typeId}
    </if>
    AND status != 99
    order by create_at desc
  </select>
  <select id="findByPId" resultMap="BaseResultMap">
    SELECT <include refid="all_clos"/>
    FROM yankuang_equipment.el_organization
    WHERE status != 99
    AND level > 2
    ORDER BY create_at DESC
  </select>
</mapper>