<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Organization">
  <resultMap id="BaseResultMap" type="Organization">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pcode" jdbcType="VARCHAR" property="pcode" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="sorting" jdbcType="INTEGER" property="sorting" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_at" jdbcType="BIGINT" property="createAt" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="update_at" jdbcType="BIGINT" property="updateAt" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, pcode, level, sorting, remark, create_by, create_at, update_by, code, update_at, 
    version
  </sql>

  <select id="findById" parameterType="long" resultMap="BaseResultMap" >
    SELECT <include refid="Base_Column_List" />
    FROM yankuang_equipment.el_organization
    WHERE id = #{id}
  </select>
</mapper>