<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yankuang.equipment.authority.mapper.RoleUserMapper" >
  <resultMap id="BaseResultMap" type="com.yankuang.equipment.authority.model.RoleUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="role_code" property="roleCode" jdbcType="BIGINT" />
    <result column="user_code" property="userCode" jdbcType="BIGINT" />
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, role_code, user_code,project_code, status
  </sql>

  <insert id="create" parameterType="com.yankuang.equipment.authority.model.RoleUser">
    insert into el_role_user_mapping (role_code, user_code, project_code, status)
    values (#{roleId}, #{userId}, "sb001", 1)
  </insert>

  <delete id="deleteByUserCode" parameterType="java.lang.String" >
    UPDATE el_role_user_mapping
    SET status = 99
    WHERE user_code = #{userCode}
  </delete>

  <delete id="deleteByRoleCode" parameterType="java.lang.String" >
    UPDATE el_role_user_mapping
    SET status = 99
    WHERE role_code = #{roleCode}
  </delete>

  <select id="findByUserCode" parameterType="String" resultMap="BaseResultMap" >
    SELECT <include refid="Base_Column_List" />
    FROM el_role_user_mapping
    WHERE user_code = #{userCode}
  </select>

  <select id="findByRoleCode" parameterType="long" resultMap="BaseResultMap" >
    SELECT <include refid="Base_Column_List" />
    FROM el_role_user_mapping
    WHERE role_code= #{roleCode}
  </select>

</mapper>