<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yankuang.equipment.authority.mapper.RoleMapper">
    <resultMap id="ResultMap" type="com.yankuang.equipment.authority.model.Role">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="pcode" property="pcode" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="BIGINT"/>
        <result column="sorting" property="sorting" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="BIGINT"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="version" property="version" jdbcType="BIGINT"/>
        <result column="project_code" property="projectCode" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="all_cols">
      id, name, code, pcode, type, sorting, status, remark, create_by, update_at, update_by,
      level, create_at, version, project_code
    </sql>

    <insert id="create" parameterType="com.yankuang.equipment.authority.model.Role">
        INSERT INTO yankuang_equipment.el_role
          (name, code, pcode, type, sorting, remark, create_by,update_by,
           level, project_code)
        VALUES( #{name}, #{code},#{pcode}, #{type}, #{sorting},
        #{remark}, #{createBy},#{updateBy}, #{level},projectCode)
    </insert>


    <update id="delete" parameterType="java.util.List">
        UPDATE yankuang_equipment.el_role
        <set>
            status = 99,
            update_at = CURRENT_TIMESTAMP
        </set>
        WHERE code in
        <foreach collection="list" item="code" separator="," open="(" close=")">
            #{code}
        </foreach>
    </update>

    <update id="update" parameterType="com.yankuang.equipment.authority.model.Role">
        UPDATE yankuang_equipment.el_role
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="pcode != null">
                pcode = #{pcode},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="sorting != null">
                sorting = #{sorting},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
            <if test="version != null">
                version = #{version},
            </if>
            update_at = CURRENT_TIMESTAMP
        </set>
        WHERE code = #{code}
        AND status != 99
    </update>

    <select id="findByName" parameterType="String" resultMap="ResultMap">
        SELECT
        <include refid="all_cols"/>
        FROM yankuang_equipment.el_role
        WHERE name = #{name}
        AND status != 99
    </select>

    <select id="findByCode" parameterType="String" resultMap="ResultMap">
        SELECT
        <include refid="all_cols"/>
        FROM yankuang_equipment.el_role
        WHERE code = #{code}
        AND status != 99
    </select>

    <select id="findByUserCode" parameterType="String" resultMap="ResultMap">
        select
        r.code,r.name
        from el_role r
        left join el_role_user_mapping ru
          on r.code = ru.role_code
        left join el_user u
          on u.code = ru.user_code
        where u.code= #{code}
        and r.status != 99
        and ru.status != 99
        and u.status != 99
        order by r.create_at desc
    </select>

    <select id="list" parameterType="map" resultMap="ResultMap">
        SELECT
        <include refid="all_cols"/>
        FROM yankuang_equipment.el_role
        WHERE
        1 = 1
        <if test="name != null">
            AND name like '%'#{name}'%'
        </if>
        <if test="code != null">
            AND code = #{code}
        </if>
        <if test="pcode != null">
            AND pcode = #{pcode}
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="level != null">
            AND level = #{level}
        </if>
        AND status != 99
        order by create_at desc
    </select>

</mapper>