<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yankuang.equipment.equipment.mapper.ElEquipmentGroupMapper" >
  <resultMap id="BaseResultMap" type="com.yankuang.equipment.equipment.model.ElEquipmentGroup" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="plan_id" property="planId" jdbcType="BIGINT" />
    <result column="plan_code" property="planCode" jdbcType="VARCHAR" />
    <result column="surface_code" property="surfaceCode" jdbcType="VARCHAR" />
    <result column="surface_id" property="surfaceId" jdbcType="BIGINT" />
    <result column="sb_type_code" property="sbTypeCode" jdbcType="VARCHAR" />
    <result column="sb_type_name" property="sbTypeName" jdbcType="VARCHAR" />
    <result column="sb_model_code" property="sbModelCode" jdbcType="VARCHAR" />
    <result column="sb_model_name" property="sbModelName" jdbcType="VARCHAR" />
    <result column="param_name" property="paramName" jdbcType="VARCHAR" />
    <result column="param_value" property="paramValue" jdbcType="VARCHAR" />
    <result column="sb_num" property="sbNum" jdbcType="BIGINT" />
    <result column="sb_unit" property="sbUnit" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="sorting" property="sorting" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, status, plan_id, plan_code, surface_code, surface_id, sb_type_code, sb_model_code, 
    param_name, param_value, sb_num, sb_unit, remarks, create_by, create_at, update_by, 
    update_at, sorting, version
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from el_equipment_group
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="delete" parameterType="java.lang.Long" >
    update el_equipment_group set status = 99 where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.yankuang.equipment.equipment.model.ElEquipmentGroup" >
    insert into el_equipment_group (code, status,
      plan_id, plan_code, surface_code, 
      surface_id, sb_type_code, sb_model_code, 
      param_name, param_value, sb_num, 
      sb_unit, remarks, create_by, update_by,
      sorting, version)
    values (#{code,jdbcType=VARCHAR}, 1,
      #{planId,jdbcType=BIGINT}, #{planCode,jdbcType=VARCHAR}, #{surfaceCode,jdbcType=VARCHAR},
      #{surfaceId,jdbcType=BIGINT}, #{sbTypeCode,jdbcType=VARCHAR}, #{sbModelCode,jdbcType=VARCHAR}, 
      #{paramName,jdbcType=VARCHAR}, #{paramValue,jdbcType=VARCHAR}, #{sbNum,jdbcType=BIGINT}, 
      #{sbUnit,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR},
      #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR},
      #{sorting,jdbcType=BIGINT}, 0)
  </insert>

  <update id="update" parameterType="com.yankuang.equipment.equipment.model.ElEquipmentGroup" >
    update el_equipment_group
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="planId != null" >
        plan_id = #{planId,jdbcType=BIGINT},
      </if>
      <if test="planCode != null" >
        plan_code = #{planCode,jdbcType=VARCHAR},
      </if>
      <if test="surfaceCode != null" >
        surface_code = #{surfaceCode,jdbcType=VARCHAR},
      </if>
      <if test="surfaceId != null" >
        surface_id = #{surfaceId,jdbcType=BIGINT},
      </if>
      <if test="sbTypeCode != null" >
        sb_type_code = #{sbTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="sbModelCode != null" >
        sb_model_code = #{sbModelCode,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null" >
        param_name = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        param_value = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="sbNum != null" >
        sb_num = #{sbNum,jdbcType=BIGINT},
      </if>
      <if test="sbUnit != null" >
        sb_unit = #{sbUnit,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sorting != null" >
        sorting = #{sorting,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="findBySurfaceCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select t1.id,
        t1.code,
        t1.status,
        t1.plan_id,
        t1.plan_code,
        t1.surface_code,
        t1.surface_id,
        t1.sb_type_code,
        t2.name as sb_type_name,
        t1.sb_model_code,
        t3.name as sb_model_name,
        t1.param_name,
        t1.param_value,
        t1.sb_num,
        t1.sb_unit,
        t1.remarks,
        t1.create_by,
        t1.create_at,
        t1.update_by,
        t1.update_at,
        t1.sorting,
        t1.version
        from el_equipment_group t1
        left join sb_type t2 on t2.code = t1.sb_type_code
        left join sb_model t3 on t3.code = t1.sb_model_code
        where t1.surface_code = #{surfaceCode} and t1.status = 1
    </select>

    <select id="findByCondition" parameterType="com.yankuang.equipment.equipment.model.ElEquipmentGroup" resultMap="BaseResultMap">
        select t1.id,
        t1.code,
        t1.status,
        t1.plan_id,
        t1.plan_code,
        t1.surface_code,
        t1.surface_id,
        t1.sb_type_code,
        t2.name as sb_type_name,
        t1.sb_model_code,
        t3.name as sb_model_name,
        t1.param_name,
        t1.param_value,
        t1.sb_num,
        t1.sb_unit,
        t1.remarks,
        t1.create_by,
        t1.create_at,
        t1.update_by,
        t1.update_at,
        t1.sorting,
        t1.version
        from el_equipment_group t1
        left join sb_type t2 on t2.code = t1.sb_type_code
        left join sb_model t3 on t3.code = t1.sb_model_code
        where 1=1
        <if test="surfaceCode != null and surfaceCode != ''" >
            and t1.surface_code = #{surfaceCode}
        </if>
        <if test="sbModelCode != null and sbModelCode != ''">
            and t1.sb_model_code = #{sbModelCode}
        </if>
        <if test="paramName != null and paramName != ''">
            and t1.param_name = #{paramName}
        </if>
        <if test="paramValue != null">
            and t1.param_value = #{paramValue}
        </if>
        and t1.status != 99
        order by t1.update_at desc
    </select>
</mapper>