<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yankuang.equipment.equipment.mapper.ElPlanMapper">
    <resultMap id="ElPlanMap" type="com.yankuang.equipment.equipment.model.ElPlan">
        <id column="plan_id" property="planId" jdbcType="VARCHAR" />
        <result column="plan_year" property="planYear" jdbcType="VARCHAR" />
        <result column="plan_month" property="planMonth" jdbcType="VARCHAR" />
        <result column="plan_quarter" property="planQuarter" jdbcType="VARCHAR" />
        <result column="plan_position" property="planPosition" jdbcType="VARCHAR" />
        <result column="plan_position_name" property="planPositionName" jdbcType="VARCHAR" />
        <result column="plan_remarks" property="planRemarks" jdbcType="VARCHAR" />
        <result column="plan_opinion" property="planOpinion" jdbcType="VARCHAR" />
        <result column="plan_creator_id" property="planCreatorId" jdbcType="VARCHAR" />
        <result column="plan_creator_name" property="planCreatorName" jdbcType="VARCHAR" />
        <result column="plan_status" property="planStatus" jdbcType="VARCHAR" />
        <result column="plan_approve_time" property="planApproveTime" jdbcType="BIGINT" />
        <result column="approve_time_str" property="approveTimeStr" jdbcType="VARCHAR" />
        <result column="plan_approver_id" property="planApproverId" jdbcType="VARCHAR" />
        <result column="plan_approver_name" property="planApproverName" jdbcType="VARCHAR" />
        <result column="plan_equipment_type" property="planEquipmentType" jdbcType="VARCHAR" />
        <result column="plan_type" property="planType" jdbcType="VARCHAR" />
        <result column="plan_is_del" property="planIsDel" jdbcType="BIT" />
        <result column="plan_create_time" property="planCreateTime" jdbcType="BIGINT" />
        <result column="create_time_str" property="createTimeStr" jdbcType="VARCHAR" />
        <result column="plan_update_time" property="planUpdateTime" jdbcType="BIGINT" />
        <result column="update_time_str" property="updateTimeStr" jdbcType="VARCHAR" />
        <result column="plan_code" property="planCode" jdbcType="VARCHAR" />
        <result column="plan_updator_id" property="planUpdatorId" jdbcType="VARCHAR" />
        <result column="plan_updator_name" property="planUpdatorName" jdbcType="VARCHAR" />
        <result column="plan_sorting" property="planSorting" jdbcType="VARCHAR" />
        <result column="plan_version" property="planVersion" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="tb">
        el_plan
    </sql>

    <sql id="cols_all">
        plan_id, <include refid="cols_exclude_id" />
    </sql>

    <sql id="cols_exclude_id">
        plan_year, plan_month, plan_quarter, plan_position, plan_remarks,
    plan_opinion, plan_creator_id, plan_creator_name, plan_status, plan_approve_time, plan_approver_id, plan_approver_name, plan_equipment_type,
    plan_type, plan_is_del, plan_create_time, plan_update_time,plan_code,plan_updator_id,plan_updator_name,plan_sorting,plan_version

    </sql>

    <sql id="vals">
        #{planId},
        #{planYear},
        #{planMonth},
        #{planQuarter},
        #{planPosition},
        #{planRemarks},
        #{planOpinion},
        #{planCreatorId},
        #{planCreatorName},
        #{planStatus},
        #{planApproveTime},
        #{planApproverId},
        #{planApprovername},
        #{planEquipmentType},
        #{planType},
        #{planIsDel},
        #{planCreateTime},
        #{planUpdateTime},
        #{planCode},
        #{planUpdatorId},
        #{planUpdatorName},
        #{planSorting},
        #{planVersion}
    </sql>

    <sql id="criteria">

        <if test="planId != null and planId != ''" >
            AND plan_id = #{planId}
        </if>
        <if test="planYear != null and planYear != ''" >
            AND plan_year = #{planYear}
        </if>
        <if test="planMonth != null and planMonth != ''" >
            AND plan_month = #{planMonth}
        </if>
        <if test="planQuarter != null and planQuarter != ''" >
            AND plan_quarter = #{planQuarter}
        </if>
        <if test="planPosition != null and planPosition != ''" >
            AND plan_position = #{planPosition}
        </if>
        <if test="planRemarks != null and planRemarks != ''" >
            AND plan_remarks = #{planRemarks}
        </if>
        <if test="planOpinion != null and planOpinion != ''" >
            AND plan_opinion = #{planOpinion}
        </if>
        <if test="planCreatorId != null and planCreatorId != ''" >
            AND plan_creator_id = #{planCreatorId}
        </if>
        <if test="planCreatorName != null and planCreatorName != ''" >
            AND plan_creator_name = #{planCreatorName}
        </if>
        <if test="planStatus != null and planStatus != ''" >
            AND plan_status = #{planStatus}
        </if>
        <if test="planApproveTime != null" >
            AND plan_approve_time = #{planApproveTime}
        </if>
        <if test="planApproverId != null and planApproverId != ''" >
            AND plan_approver_id = #{planApproverId}
        </if>
        <if test="planApproverName != null and planApproverName != ''" >
            AND plan_approver_name = #{planApproverName}
        </if>
        <if test="planEquipmentType != null and planEquipmentType != ''" >
            AND plan_equipment_type = #{planEquipmentType}
        </if>
        <if test="planType != null and planType != ''" >
            AND plan_type = #{planType}
        </if>
        <if test="planIsDel != null" >
            AND plan_is_del = #{planIsDel}
        </if>
        <if test="planCreateTime != null" >
            AND plan_create_time = #{planCreateTime}
        </if>
        <if test="planUpdateTime != null" >
            AND plan_update_time = #{planUpdateTime}
        </if>
        <if test="planCode != null and planCode != ''" >
            AND plan_code = #{planCode}
        </if>
        <if test="planUpdatorId != null and planUpdatorId != ''" >
            AND plan_updator_id = #{planUpdatorId}
        </if>
        <if test="planUpdatorName != null and planUpdatorName != ''" >
            AND plan_updator_name = #{planUpdatorName}
        </if>
        <if test="planSorting != null and planSorting != ''" >
            AND plan_sorting = #{planSorting}
        </if>
        <if test="planVersion != null and planVersion != ''" >
            AND plan_version = #{planVersion}
        </if>
    </sql>

    <select id="findById" parameterType="java.lang.String" resultMap="ElPlanMap" >
        SELECT p1.plan_id AS plan_id,
        p1.plan_year AS plan_year,
        p1.plan_month AS plan_month,
        p1.plan_quarter AS plan_quarter,
        p1.plan_position AS plan_position,
        p2.name AS plan_position_name,
        p1.plan_remarks AS plan_remarks,
        p1.plan_opinion AS plan_opinion,
        p1.plan_creator_id AS plan_creator_id,
        p1.plan_creator_name AS plan_creator_name,
        p1.plan_status AS plan_status,
        p1.plan_approve_time AS plan_approve_time,
        from_unixtime(p1.plan_approve_time/1000, '%Y-%m-%d %H:%I:%S') AS approve_time_str,
        p1.plan_approver_id AS plan_approver_id,
        p1.plan_approver_name AS plan_approver_name,
        p1.plan_equipment_type AS plan_equipment_type,
        p1.plan_type AS plan_type,
        p1.plan_is_del AS plan_is_del,
        p1.plan_create_time AS plan_create_time,
        from_unixtime(p1.plan_create_time/1000, '%Y-%m-%d %H:%I:%S') AS create_time_str,
        p1.plan_update_time AS plan_update_time,
        from_unixtime(p1.plan_update_time/1000, '%Y-%m-%d %H:%I:%S') AS update_time_str,
        p1.plan_code AS plan_code,
        p1.plan_updator_id AS plan_updator_id,
        p1.plan_updator_name AS plan_updator_name,
        p1.plan_sorting AS plan_sorting,
        p1.plan_version AS plan_version
        FROM el_plan p1
        left join el_department p2 on p1.plan_position = p2.code and p2.status = 1
        WHERE p1.plan_id = #{planId} AND p1.plan_is_del = 0
    </select>

    <update id="update" parameterType="com.yankuang.equipment.equipment.model.ElPlan">
        UPDATE <include refid="tb"/>
        <set >
            <if test="planId != null and planId != ''" >
                plan_id = #{planId,jdbcType=VARCHAR},
            </if>
            <if test="planYear != null and planYear != ''" >
                plan_year = #{planYear,jdbcType=VARCHAR},
            </if>
            <if test="planMonth != null and planMonth != ''" >
                plan_month = #{planMonth,jdbcType=VARCHAR},
            </if>
            <if test="planQuarter != null and planQuarter != ''" >
                plan_quarter = #{planQuarter,jdbcType=VARCHAR},
            </if>
            <if test="planPosition != null and planPosition != ''" >
                plan_position = #{planPosition,jdbcType=VARCHAR},
            </if>
            <if test="planRemarks != null" >
                plan_remarks = #{planRemarks,jdbcType=VARCHAR},
            </if>
            <if test="planOpinion != null" >
                plan_opinion = #{planOpinion,jdbcType=VARCHAR},
            </if>
            <if test="planCreatorId != null and planCreatorId != ''" >
                plan_creator_id = #{planCreatorId,jdbcType=VARCHAR},
            </if>
            <if test="planCreatorName != null and planCreatorName != ''" >
                plan_creator_name = #{planCreatorName,jdbcType=VARCHAR},
            </if>
            <if test="planStatus != null and planStatus != ''" >
                plan_status = #{planStatus,jdbcType=VARCHAR},
            </if>
            <if test="planApproveTime != null" >
                plan_approve_time = #{planApproveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="planApproverId != null and planApproverId != ''" >
                plan_approver_id = #{planApproverId,jdbcType=VARCHAR},
            </if>
            <if test="planApproverName != null and planApproverName != ''" >
                plan_approver_name = #{planApproverName,jdbcType=VARCHAR},
            </if>
            <if test="planEquipmentType != null and planEquipmentType != ''" >
                plan_equipment_type = #{planEquipmentType,jdbcType=VARCHAR},
            </if>
            <if test="planType != null and planType != ''" >
                plan_type = #{planType,jdbcType=VARCHAR},
            </if>
            <if test="planIsDel != null" >
                plan_is_del = #{planIsDel,jdbcType=BIT},
            </if>
            <if test="planCode != null" >
                plan_code = #{planCode,jdbcType=VARCHAR},
            </if>
            <if test="planUpdatorId != null and planUpdatorId != ''" >
                plan_updator_id = #{planUpdatorId,jdbcType=VARCHAR},
            </if>
            <if test="planUpdatorName != null and planUpdatorName != ''" >
                plan_updator_name = #{planUpdatorName,jdbcType=VARCHAR},
            </if>
            <if test="planSorting != null" >
                plan_sorting = #{planSorting,jdbcType=VARCHAR},
            </if>
            <if test="planVersion != null" >
                plan_version = #{planVersion,jdbcType=VARCHAR},
            </if>
            <if test="planUpdateTime != null" >
                plan_update_time = #{planUpdateTime,jdbcType=BIGINT},
            </if>
        </set>
        WHERE plan_id = #{planId}
    </update>

    <select id="listByCondition" parameterType="map" resultMap="ElPlanMap">
        SELECT e1.plan_id AS plan_id,
        e1.plan_year AS plan_year,
        e1.plan_month AS plan_month,
        e1.plan_quarter AS plan_quarter,
        e1.plan_position AS plan_position,
        e2.name AS plan_position_name,
        e1.plan_remarks AS plan_remarks,
        e1.plan_opinion AS plan_opinion,
        e1.plan_creator_id AS plan_creator_id,
        e1.plan_creator_name AS plan_creator_name,
        e1.plan_status AS plan_status,
        e1.plan_approve_time AS plan_approve_time,
        from_unixtime(e1.plan_approve_time/1000, '%Y-%m-%d %H:%I:%S') AS approve_time_str,
        e1.plan_approver_id AS plan_approver_id,
        e1.plan_approver_name AS plan_approver_name,
        e1.plan_equipment_type AS plan_equipment_type,
        e1.plan_type AS plan_type,
        e1.plan_is_del AS plan_is_del,
        e1.plan_create_time AS plan_create_time,
        from_unixtime(e1.plan_create_time/1000, '%Y-%m-%d %H:%I:%S') AS create_time_str,
        e1.plan_update_time AS plan_update_time,
        from_unixtime(e1.plan_update_time/1000, '%Y-%m-%d %H:%I:%S') AS update_time_str,
        e1.plan_code AS plan_code,
        e1.plan_updator_id AS plan_updator_id,
        e1.plan_updator_name AS plan_updator_name,
        e1.plan_sorting AS plan_sorting,
        e1.plan_version AS plan_version
        FROM el_plan e1
        left join el_department e2 on e2.code = e1.plan_position and e2.status = 1
        <where>
            1 = 1 AND e1.plan_is_del = 0
            <if test="planYear != null and planYear != ''" >
                AND e1.plan_year = #{planYear}
            </if>
            <if test="planMonth != null and planMonth != ''" >
                AND e1.plan_month = #{planMonth}
            </if>
            <if test="planPosition != null and planPosition != '' " >
                AND e1.plan_position = #{planPosition}
            </if>
            <if test="planStatus != null and planStatus != '' " >
                AND e1.plan_status = #{planStatus}
            </if>
            <if test="planEquipmentType != null and planEquipmentType != '' " >
                AND e1.plan_equipment_type = #{planEquipmentType}
            </if>
            <if test="planType != null and planType != '' " >
                AND e1.plan_type = #{planType}
            </if>
        </where>
        ORDER BY e1.plan_update_time DESC
    </select>

    <update id="delete" parameterType="java.lang.String">
        UPDATE <include refid="tb"/>
        <set > plan_is_del = 1 </set>
        WHERE plan_id = #{planId}
    </update>

    <insert id="insert" parameterType="com.yankuang.equipment.equipment.model.ElPlan" >
        insert into el_plan
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="planId != null" >
                plan_id,
            </if>
            <if test="planYear != null" >
                plan_year,
            </if>
            <if test="planMonth != null" >
                plan_month,
            </if>
            <if test="planQuarter != null" >
                plan_quarter,
            </if>
            <if test="planPosition != null" >
                plan_position,
            </if>
            <if test="planRemarks != null" >
                plan_remarks,
            </if>
            <if test="planOpinion != null" >
                plan_opinion,
            </if>
            <if test="planCreatorId != null" >
                plan_creator_id,
            </if>
            <if test="planCreatorName != null" >
                plan_creator_name,
            </if>
            <if test="planStatus != null" >
                plan_status,
            </if>
            <if test="planApproveTime != null" >
                plan_approve_time,
            </if>
            <if test="planApproverId != null" >
                plan_approver_id,
            </if>
            <if test="planApproverName != null" >
                plan_approver_name,
            </if>
            <if test="planEquipmentType != null" >
                plan_equipment_type,
            </if>
            <if test="planType != null" >
                plan_type,
            </if>
            <if test="planIsDel != null" >
                plan_is_del,
            </if>
            <if test="planCreateTime != null" >
                plan_create_time,
            </if>
            <if test="planUpdateTime != null" >
                plan_update_time,
            </if>
            <if test="planCode != null" >
                plan_code,
            </if>
            <if test="planUpdatorId != null" >
                plan_updator_id,
            </if>
            <if test="planUpdatorName != null" >
                plan_updator_name,
            </if>
            <if test="planSorting != null" >
                plan_sorting,
            </if>
            <if test="planVersion != null" >
                plan_version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="planId != null" >
                #{planId,jdbcType=VARCHAR},
            </if>
            <if test="planYear != null" >
                #{planYear,jdbcType=INTEGER},
            </if>
            <if test="planMonth != null" >
                #{planMonth,jdbcType=INTEGER},
            </if>
            <if test="planQuarter != null" >
                #{planQuarter,jdbcType=INTEGER},
            </if>
            <if test="planPosition != null" >
                #{planPosition,jdbcType=VARCHAR},
            </if>
            <if test="planRemarks != null" >
                #{planRemarks,jdbcType=VARCHAR},
            </if>
            <if test="planOpinion != null" >
                #{planOpinion,jdbcType=VARCHAR},
            </if>
            <if test="planCreatorId != null" >
                #{planCreatorId,jdbcType=VARCHAR},
            </if>
            <if test="planCreatorName != null" >
                #{planCreatorName,jdbcType=VARCHAR},
            </if>
            <if test="planStatus != null" >
                #{planStatus,jdbcType=VARCHAR},
            </if>
            <if test="planApproveTime != null" >
                #{planApproveTime,jdbcType=BIGINT},
            </if>
            <if test="planApproverId != null" >
                #{planApproverId,jdbcType=VARCHAR},
            </if>
            <if test="planApproverName != null" >
                #{planApproverName,jdbcType=VARCHAR},
            </if>
            <if test="planEquipmentType != null" >
                #{planEquipmentType,jdbcType=VARCHAR},
            </if>
            <if test="planType != null" >
                #{planType,jdbcType=VARCHAR},
            </if>
            <if test="planIsDel != null" >
                #{planIsDel,jdbcType=BIT},
            </if>
            <if test="planCreateTime != null" >
                #{planCreateTime,jdbcType=BIGINT},
            </if>
            <if test="planUpdateTime != null" >
                #{planUpdateTime,jdbcType=BIGINT},
            </if>
            <if test="planCode != null" >
                #{planCode,jdbcType=VARCHAR},
            </if>
            <if test="planUpdatorId != null" >
                #{planUpdatorId,jdbcType=VARCHAR},
            </if>
            <if test="planUpdatorName != null" >
                #{planUpdatorName,jdbcType=VARCHAR},
            </if>
            <if test="planSorting != null" >
                #{planSorting,jdbcType=VARCHAR},
            </if>
            <if test="planVersion != null" >
                #{planVersion,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
<!--根据多条件查询计划对象-->
    <select id="findByCreatorId" parameterType="ElPlan" resultMap="ElPlanMap">
        SELECT <include refid="cols_all"/>
        FROM el_plan
        WHERE
        1=1
        <if test="planId != null">
            AND plan_id = #{planId}
        </if>
        <if test="planYear != null" >
            AND plan_year = #{planYear}
        </if>
        <if test="planMonth != null" >
            AND plan_month = #{planMonth}
        </if>
        <if test="planQuarter != null" >
            AND plan_quarter = #{planQuarter}
        </if>
        <if test="planPosition != null and planPosition != ''" >
            AND plan_position = #{planPosition}
        </if>
        <if test="planRemarks != null and planRemarks != ''" >
            AND plan_remarks = #{planRemarks}
        </if>
        <if test="planOpinion != null and planOpinion != ''" >
            AND plan_opinion = #{planOpinion}
        </if>
        <if test="planCreatorId != null and planCreatorId != ''" >
            AND plan_creator_id = #{planCreatorId}
        </if>
        <if test="planCreatorName != null and planCreatorName != ''" >
            AND plan_creator_name = #{planCreatorName}
        </if>
        <if test="planStatus != null and planStatus != ''" >
            AND plan_status = #{planStatus}
        </if>
        <if test="planApproveTime != null" >
            AND plan_approve_time = #{planApproveTime}
        </if>
        <if test="planApproverId != null and planApproverId != ''" >
            AND plan_approver_id = #{planApproverId}
        </if>
        <if test="planApproverName != null and planApproverName != ''" >
            AND plan_approver_name = #{planApproverName}
        </if>
        <if test="planEquipmentType != null and planEquipmentType != ''" >
            AND plan_equipment_type = #{planEquipmentType}
        </if>
        <if test='planEquipmentType == "1" '>
            AND (plan_type = #{planType} OR plan_type = "4")
        </if>
        <if test='planEquipmentType == "2" '>
            AND plan_type = #{planType}
        </if>
        <if test="planCreateTime != null" >
            AND plan_create_time = #{planCreateTime}
        </if>
        <if test="planUpdateTime != null" >
            AND plan_update_time = #{planUpdateTime}
        </if>
        <if test="planCode != null and planCode != ''" >
            AND plan_code = #{planCode}
        </if>
        <if test="planUpdatorId != null and planUpdatorId != ''" >
            AND plan_updator_id = #{planUpdatorId}
        </if>
        <if test="planUpdatorName != null and planUpdatorName != ''" >
            AND plan_updator_name = #{planUpdatorName}
        </if>
        <if test="planSorting != null and planSorting != ''" >
            AND plan_sorting = #{planSorting}
        </if>
        <if test="planVersion != null and planVersion != ''" >
            AND plan_version = #{planVersion}
        </if>
        AND plan_is_del != 1
        ORDER BY plan_create_time DESC
    </select>
</mapper>