<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yankuang.equipment.equipment.mapper.ElProduceSurfaceMapper" >
  <resultMap id="BaseResultMap" type="com.yankuang.equipment.equipment.model.ElProduceSurface" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="plan_id" property="planId" jdbcType="BIGINT" />
    <result column="plan_code" property="planCode" jdbcType="VARCHAR" />
    <result column="position_code" property="positionCode" jdbcType="VARCHAR" />
    <result column="partition_name" property="partitionName" jdbcType="VARCHAR" />
    <result column="effect_code" property="effectCode" jdbcType="VARCHAR" />
    <result column="effect_name" property="effectName" jdbcType="VARCHAR" />
    <result column="ready_time" property="readyTime" jdbcType="VARCHAR" />
    <result column="produce_time" property="produceTime" jdbcType="VARCHAR" />
    <result column="revoke_time" property="revokeTime" jdbcType="VARCHAR" />
    <result column="bank_time" property="bankTime" jdbcType="VARCHAR" />
    <result column="switch_surface_code" property="switchSurfaceCode" jdbcType="VARCHAR" />
    <result column="sb_source" property="sbSource" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="sorting" property="sorting" jdbcType="BIGINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, status, plan_id, plan_code, position_code, effect_code, ready_time, produce_time, 
    revoke_time, bank_time, switch_surface_code, sb_source, remarks, version, sorting, 
    create_by, create_at, update_by, update_at
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from el_produce_surface
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="delete" parameterType="java.lang.Long" >
    update el_produce_surface set status = 99 where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.yankuang.equipment.equipment.model.ElProduceSurface" >
    insert into el_produce_surface (code, status,
      plan_id, plan_code, position_code, 
      effect_code, ready_time, produce_time, 
      revoke_time, bank_time, switch_surface_code, 
      sb_source, remarks, version, 
      sorting, create_by, update_by)
    values (#{code,jdbcType=VARCHAR}, 1,
      #{planId,jdbcType=BIGINT}, #{planCode,jdbcType=VARCHAR}, #{positionCode,jdbcType=VARCHAR}, 
      #{effectCode,jdbcType=VARCHAR}, #{readyTime,jdbcType=VARCHAR}, #{produceTime,jdbcType=VARCHAR}, 
      #{revokeTime,jdbcType=VARCHAR}, #{bankTime,jdbcType=VARCHAR}, #{switchSurfaceCode,jdbcType=VARCHAR}, 
      #{sbSource,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 0,
      #{sorting,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR})
  </insert>
  <update id="update" parameterType="com.yankuang.equipment.equipment.model.ElProduceSurface" >
    update el_produce_surface
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="planId != null" >
        plan_id = #{planId,jdbcType=BIGINT},
      </if>
      <if test="planCode != null" >
        plan_code = #{planCode,jdbcType=VARCHAR},
      </if>
      <if test="positionCode != null" >
        position_code = #{positionCode,jdbcType=VARCHAR},
      </if>
      <if test="effectCode != null" >
        effect_code = #{effectCode,jdbcType=VARCHAR},
      </if>
      <if test="readyTime != null" >
        ready_time = #{readyTime,jdbcType=VARCHAR},
      </if>
      <if test="produceTime != null" >
        produce_time = #{produceTime,jdbcType=VARCHAR},
      </if>
      <if test="revokeTime != null" >
        revoke_time = #{revokeTime,jdbcType=VARCHAR},
      </if>
      <if test="bankTime != null" >
        bank_time = #{bankTime,jdbcType=VARCHAR},
      </if>
      <if test="switchSurfaceCode != null" >
        switch_surface_code = #{switchSurfaceCode,jdbcType=VARCHAR},
      </if>
      <if test="sbSource != null" >
        sb_source = #{sbSource,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="sorting != null" >
        sorting = #{sorting,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="findByPlanCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select t1.id,
        t1.code,
        t1.status,
        t1.plan_id,
        t1.plan_code,
        t1.position_code,
        t2.name as partition_name,
        t1.effect_code,
        t3.name as effect_name,
        t1.ready_time,
        t1.produce_time,
        t1.revoke_time,
        t1.bank_time,
        t1.switch_surface_code,
        t1.sb_source,
        t1.remarks,
        t1.version,
        t1.sorting,
        t1.create_by,
        t1.create_at,
        t1.update_by,
        t1.update_at
        from el_produce_surface t1
        left join el_department t2 on t2.code = t1.position_code
        left join sb_position t3 on t3.code = t1.effect_code
        where t1.plan_code = #{planCode} and t1.status = 1
    </select>

    <select id="findByCondition" parameterType="com.yankuang.equipment.equipment.model.ElProduceSurface" resultMap="BaseResultMap" >
        select t1.id,
        t1.code,
        t1.status,
        t1.plan_id,
        t1.plan_code,
        t1.position_code,
        t2.name as partition_name,
        t1.effect_code,
        t3.name as effect_name,
        t1.ready_time,
        t1.produce_time,
        t1.revoke_time,
        t1.bank_time,
        t1.switch_surface_code,
        t1.sb_source,
        t1.remarks,
        t1.version,
        t1.sorting,
        t1.create_by,
        t1.create_at,
        t1.update_by,
        t1.update_at
        from el_produce_surface t1
        left join el_department t2 on t2.code = t1.position_code
        left join sb_position t3 on t3.code = t1.effect_code
        where 1=1
        <if test="planCode != null and planCode != ''" >
            and t1.plan_code = #{planCode}
        </if>
        <if test="effectCode != null and effectCode != ''">
            and t1.effect_code = #{effectCode}
        </if>
        and t1.status != 99
        order by t1.update_at desc
    </select>
</mapper>