<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yankuang.equipment.equipment.mapper.ElUseMapper" >
    <resultMap id="BaseResultMap" type="com.yankuang.equipment.equipment.model.ElUse" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="approve_code" property="approveCode" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="sorting" property="sorting" jdbcType="VARCHAR" />
        <result column="is_del" property="isDel" jdbcType="TINYINT" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="use_by" property="useBy" jdbcType="BIGINT" />
        <result column="use_at" property="useAt" jdbcType="TIMESTAMP" />
        <result column="use_position" property="usePosition" jdbcType="BIGINT" />
        <result column="use_equipment_type" property="useEquipmentType" jdbcType="VARCHAR" />
        <result column="approve_by" property="approveBy" jdbcType="BIGINT" />
        <result column="approve_at" property="approveAt" jdbcType="TIMESTAMP" />
        <result column="approve_opinion" property="approveOpinion" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="BIGINT" />
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="BIGINT" />
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
        <result column="version" property="version" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="is_use" property="isUse" jdbcType="TINYINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id,approve_code, code, sorting, is_del, status, use_by, use_at, use_position, use_equipment_type,
        approve_by, approve_at, approve_opinion, create_by, create_at, update_by, update_at,
        version, remarks, is_use
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="ElUse" >
        INSERT INTO el_use(
        approve_code, code, sorting, is_del, status, use_by, use_at, use_position, use_equipment_type,
        approve_by, approve_at, approve_opinion, create_by, create_at, update_by, update_at,
        version, remarks, is_use
        ) VALUES (
        #{approveCode,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
        #{sorting,jdbcType=VARCHAR}, 1, #{status,jdbcType=VARCHAR},
        #{useBy,jdbcType=BIGINT}, #{useAt,jdbcType=TIMESTAMP}, #{usePosition,jdbcType=BIGINT},
        #{useEquipmentType,jdbcType=VARCHAR}, #{approveBy,jdbcType=BIGINT}, #{approveAt,jdbcType=TIMESTAMP},
        #{approveOpinion,jdbcType=VARCHAR}, #{createBy,jdbcType=BIGINT}, #{createAt,jdbcType=TIMESTAMP},
        #{updateBy,jdbcType=BIGINT}, #{updateAt,jdbcType=TIMESTAMP}, #{version,jdbcType=VARCHAR},
        #{remarks,jdbcType=VARCHAR}, #{isUse, jdbcType=TINYINT}
        )
    </insert>
    
    <update id="update" parameterType="ElUse">
        UPDATE el_use
        <set >
            <if test="approveCode != null" >
                approve_code = #{approveCode,jdbcType=VARCHAR},
            </if>
            <if test="code != null" >
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="sorting != null" >
                sorting = #{sorting,jdbcType=VARCHAR},
            </if>
            <if test="isDel != null" >
                is_del = #{isDel,jdbcType=TINYINT},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="useBy != null" >
                use_by = #{useBy,jdbcType=BIGINT},
            </if>
            <if test="useAt != null" >
                use_at = #{useAt,jdbcType=TIMESTAMP},
            </if>
            <if test="usePosition != null" >
                use_position = #{usePosition,jdbcType=BIGINT},
            </if>
            <if test="useEquipmentType != null" >
                use_equipment_type = #{useEquipmentType,jdbcType=VARCHAR},
            </if>
            <if test="approveBy != null" >
                approve_by = #{approveBy,jdbcType=BIGINT},
            </if>
            <if test="approveAt != null" >
                approve_at = #{approveAt,jdbcType=TIMESTAMP},
            </if>
            <if test="approveOpinion != null" >
                approve_opinion = #{approveOpinion,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createAt != null" >
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateAt != null" >
                update_at = #{updateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null" >
                version = #{version,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null" >
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="isUse != null">
                is_use = #{isUse,jdbcType=TINYINT}
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <select id="select" parameterType="Long" resultMap="BaseResultMap">
        SELECT t1.id, t1.approve_code, t1.code, t1.sorting, t1.is_del, t1.status, t1.use_by, DATE_FORMAT(t1.use_at,'%Y-%m-%d %H:%i:%s') as use_at, t1.use_position, t1.use_equipment_type,
        t1.approve_by, DATE_FORMAT(t1.approve_at,'%Y-%m-%d %H:%i:%s') as approve_at, t1.approve_opinion, t1.create_by, DATE_FORMAT(t1.create_at,'%Y-%m-%d %H:%i:%s') as create_at, t1.update_by, DATE_FORMAT(t1.update_at,'%Y-%m-%d %H:%i:%s') as update_at,
        t1.version, t1.remarks, t1.is_use,org.name AS name
        FROM el_use t1
        LEFT JOIN el_organization org
        ON t1.use_position = org.id
        WHERE t1.id = #{id,jdbcType=BIGINT}
        AND org.status != 99
    </select>

    <update id="delete" parameterType="Long">
        UPDATE el_use
        SET is_del = 99
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <select id="list" parameterType="map" resultMap="BaseResultMap">
        SELECT t1.id, t1.approve_code, t1.code, t1.sorting, t1.is_del, t1.status, t1.use_by, DATE_FORMAT(t1.use_at,'%Y-%m-%d %H:%i:%s') as use_at, t1.use_position, t1.use_equipment_type,
        t1.approve_by, DATE_FORMAT(t1.approve_at,'%Y-%m-%d %H:%i:%s') as approve_at, t1.approve_opinion, t1.create_by, DATE_FORMAT(t1.create_at,'%Y-%m-%d %H:%i:%s') as create_at, t1.update_by, DATE_FORMAT(t1.update_at,'%Y-%m-%d %H:%i:%s') as update_at,
        t1.version, t1.remarks, t1.is_use,org.name AS name
        FROM el_use t1
        LEFT JOIN el_organization org
        ON t1.use_position = org.id
        WHERE 1=1
        <if test="approveCode != null" >
            AND t1.approve_code = #{approveCode,jdbcType=VARCHAR}
        </if>
        <if test="code != null" >
            AND t1.code = #{code,jdbcType=VARCHAR}
        </if>
        <if test="sorting != null" >
            AND t1.sorting = #{sorting,jdbcType=VARCHAR}
        </if>
        <if test="isDel != null" >
            AND t1.is_del = #{isDel,jdbcType=TINYINT}
        </if>
        <if test="status != null" >
            AND t1.status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="useBy != null" >
            AND t1.use_by = #{useBy,jdbcType=BIGINT}
        </if>
        <if test="useAt != null" >
            AND t1.use_at = #{useAt,jdbcType=TIMESTAMP}
        </if>
        <if test="usePosition != null" >
            AND t1.use_position = #{usePosition,jdbcType=VARCHAR}
        </if>
        <if test="useEquipmentType != null" >
            AND t1.use_equipment_type = #{useEquipmentType,jdbcType=VARCHAR}
        </if>
        <if test="approveBy != null" >
            AND t1.approve_by = #{approveBy,jdbcType=BIGINT}
        </if>
        <if test="approveAt != null" >
            AND t1.approve_at = #{approveAt,jdbcType=TIMESTAMP}
        </if>
        <if test="approveOpinion != null" >
            AND t1.approve_opinion = #{approveOpinion,jdbcType=VARCHAR}
        </if>
        <if test="createBy != null" >
            AND t1.create_by = #{createBy,jdbcType=BIGINT}
        </if>
        <if test="createAt != null" >
            AND t1.create_at = #{createAt,jdbcType=TIMESTAMP}
        </if>
        <if test="updateBy != null" >
            AND t1.update_by = #{updateBy,jdbcType=BIGINT}
        </if>
        <if test="updateAt != null" >
            AND t1.update_at = #{updateAt,jdbcType=TIMESTAMP}
        </if>
        <if test="version != null" >
            AND t1.version = #{version,jdbcType=VARCHAR}
        </if>
        <if test="remarks != null" >
            AND t1.remarks = #{remarks,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null">
            AND t1.use_at >= #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null">
            AND t1.use_at &lt;= #{endTime,jdbcType=TIMESTAMP}
        </if>
        AND t1.is_del != 99
        AND is_use = #{isUse,jdbcType=TINYINT}
        AND org.status != 99
        ORDER BY create_at DESC
    </select>

    <update id="open" parameterType="Long">
        UPDATE el_use
        SET status = 2
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>