<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yankuang.equipment.equipment.mapper.ElUseItemMapper" >
    <resultMap id="BaseResultMap" type="com.yankuang.equipment.equipment.model.ElUseItem" >
        <id column="item_id" property="itemId" jdbcType="BIGINT" />
        <result column="use_id" property="useId" jdbcType="BIGINT" />
        <result column="equipment_id" property="equipmentId" jdbcType="BIGINT" />
        <result column="main_param_name" property="mainParamName" jdbcType="VARCHAR" />
        <result column="main_param_value" property="mainParamValue" jdbcType="VARCHAR" />
        <result column="equipment_num" property="equipmentNum" jdbcType="INTEGER" />
        <result column="equipment_effect" property="equipmentEffect" jdbcType="VARCHAR" />
        <result column="equipment_position" property="equipmentPosition" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="plan_use_id" property="planUseId" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List" >
        item_id, use_id, equipment_id, main_param_name, main_param_value, equipment_num,
        equipment_effect, equipment_position, remarks, status, code,  plan_use_id
    </sql>
    <insert id="create" parameterType="ElUseItem">
        INSERT INTO el_use_item(
        use_id, equipment_id, main_param_name, main_param_value, equipment_num,
        equipment_effect, equipment_position, remarks, status, code,  plan_use_id
        )
        VALUES
        (#{useId,jdbcType=BIGINT}, #{equipmentId,jdbcType=BIGINT},
      #{mainParamName,jdbcType=VARCHAR}, #{mainParamValue,jdbcType=VARCHAR}, #{equipmentNum,jdbcType=INTEGER},
      #{equipmentEffect,jdbcType=VARCHAR}, #{equipmentPosition,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}), #{planUseId,jdbcType=BIGINT}
    </insert>

    <update id="update" parameterType="ElUseItem">
        UPDATE el_use_item
        <set>
            <if test="useId != null" >
                use_id = #{useId,jdbcType=BIGINT},
            </if>
            <if test="equipmentId != null" >
                equipment_id = #{equipmentId,jdbcType=BIGINT},
            </if>
            <if test="mainParamName != null" >
                main_param_name = #{mainParamName,jdbcType=VARCHAR},
            </if>
            <if test="mainParamValue != null" >
                main_param_value = #{mainParamValue,jdbcType=VARCHAR},
            </if>
            <if test="equipmentNum != null" >
                equipment_num = #{equipmentNum,jdbcType=INTEGER},
            </if>
            <if test="equipmentEffect != null" >
                equipment_effect = #{equipmentEffect,jdbcType=VARCHAR},
            </if>
            <if test="equipmentPosition != null" >
                equipment_position = #{equipmentPosition,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null" >
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="code != null" >
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="planUseId != null">
                plan_use_id = #{planUseId,jdbc=BIGINT},
            </if>
        </set>
        WHERE item_id = #{itemId,jdbcType=BIGINT}
    </update>

    <select id="list" parameterType="map" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM el_use_item
        WHERE 1=1
        <if test="useId != null" >
            AND use_id = #{useId,jdbcType=BIGINT}
        </if>
        <if test="equipmentId != null" >
            AND equipment_id = #{equipmentId,jdbcType=BIGINT}
        </if>
        <if test="mainParamName != null" >
            AND main_param_name = #{mainParamName,jdbcType=VARCHAR}
        </if>
        <if test="mainParamValue != null" >
            AND main_param_value = #{mainParamValue,jdbcType=VARCHAR}
        </if>
        <if test="equipmentNum != null" >
            AND equipment_num = #{equipmentNum,jdbcType=INTEGER}
        </if>
        <if test="equipmentEffect != null" >
            AND equipment_effect = #{equipmentEffect,jdbcType=VARCHAR}
        </if>
        <if test="equipmentPosition != null" >
            AND equipment_position = #{equipmentPosition,jdbcType=VARCHAR}
        </if>
        <if test="remarks != null" >
            AND remarks = #{remarks,jdbcType=VARCHAR}
        </if>
        <if test="status != null" >
            AND status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="code != null" >
            AND code = #{code,jdbcType=VARCHAR}
        </if>
        <if test="planUseId != null">
            AND plan_use_id = #{planUseId,jdbc=BIGINT}
        </if>
        AND status != 99
    </select>

    <select id="findById" resultMap="BaseResultMap" parameterType="Long">
        SELECT <include refid="Base_Column_List"/>
        FROM el_use_item
        WHERE item_id = #{itemId,jdbcType=BIGINT}
        AND status != 99
    </select>

    <update id="delete" parameterType="Long">
        UPDATE el_use_item
        SET status = 99
        WHERE use_id = #{useId,jdbcType=BIGINT}
    </update>

    <update id="deleteById" parameterType="Long">
        UPDATE el_use_item
        SET status = 99
        WHERE item_id = #{itemId,jdbcType=BIGINT}
    </update>

    <select id="findByUseId" parameterType="Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM el_use_item
        WHERE use_id = #{useId,jdbcType=BIGINT}
    </select>
</mapper>
