<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yankuang.equipment.equipment.mapper.SbTypeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yankuang.equipment.equipment.model.SbTypeInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type_id" property="typeId" jdbcType="BIGINT" />
    <result column="main_para" property="mainPara" jdbcType="VARCHAR" />
    <result column="main_para_type" property="mainParaType" jdbcType="VARCHAR" />
    <result column="def_para1" property="defPara1" jdbcType="VARCHAR" />
    <result column="def_para1_type" property="defPara1Type" jdbcType="VARCHAR" />
    <result column="def_para2" property="defPara2" jdbcType="VARCHAR" />
    <result column="def_para2_type" property="defPara2Type" jdbcType="VARCHAR" />
    <result column="def_para3" property="defPara3" jdbcType="VARCHAR" />
    <result column="def_para3_type" property="defPara3Type" jdbcType="VARCHAR" />
    <result column="def_para4" property="defPara4" jdbcType="VARCHAR" />
    <result column="def_para4_type" property="defPara4Type" jdbcType="VARCHAR" />
    <result column="def_para5" property="defPara5" jdbcType="VARCHAR" />
    <result column="def_para5_type" property="defPara5Type" jdbcType="VARCHAR" />
    <result column="def_para6" property="defPara6" jdbcType="VARCHAR" />
    <result column="def_para6_type" property="defPara6Type" jdbcType="VARCHAR" />
    <result column="def_para7" property="defPara7" jdbcType="VARCHAR" />
    <result column="def_para7_type" property="defPara7Type" jdbcType="VARCHAR" />
    <result column="def_para8" property="defPara8" jdbcType="VARCHAR" />
    <result column="def_para8_type" property="defPara8Type" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="code" property="typeCode" jdbcType="VARCHAR"/>
    <result column="name" property="typeName" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, type_id, main_para, main_para_type, def_para1, def_para1_type, def_para2, def_para2_type, 
    def_para3, def_para3_type, def_para4, def_para4_type, def_para5, def_para5_type, 
    def_para6, def_para6_type, def_para7, def_para7_type, def_para8, def_para8_type,
    create_by, create_at, update_by, update_at, version
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select t1.code,t1.name,t2.*
    from sb_type t1
    left JOIN sb_type_info t2 on t1.id = t2.type_id
    WHERE t1.status = '1' and t1.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from sb_type_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="create" parameterType="com.yankuang.equipment.equipment.model.SbTypeInfo" >
    insert into sb_type_info (type_id, main_para,
      main_para_type, def_para1, def_para1_type, 
      def_para2, def_para2_type, def_para3, 
      def_para3_type, def_para4, def_para4_type, 
      def_para5, def_para5_type, def_para6, 
      def_para6_type, def_para7, def_para7_type, 
      def_para8, def_para8_type,create_by,
      create_at, update_by, update_at,
      version)
    values (#{typeId,jdbcType=BIGINT}, #{mainPara,jdbcType=VARCHAR},
      #{mainParaType,jdbcType=VARCHAR}, #{defPara1,jdbcType=VARCHAR}, #{defPara1Type,jdbcType=VARCHAR}, 
      #{defPara2,jdbcType=VARCHAR}, #{defPara2Type,jdbcType=VARCHAR}, #{defPara3,jdbcType=VARCHAR}, 
      #{defPara3Type,jdbcType=VARCHAR}, #{defPara4,jdbcType=VARCHAR}, #{defPara4Type,jdbcType=VARCHAR}, 
      #{defPara5,jdbcType=VARCHAR}, #{defPara5Type,jdbcType=VARCHAR}, #{defPara6,jdbcType=VARCHAR}, 
      #{defPara6Type,jdbcType=VARCHAR}, #{defPara7,jdbcType=VARCHAR}, #{defPara7Type,jdbcType=VARCHAR}, 
      #{defPara8,jdbcType=VARCHAR}, #{defPara8Type,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
      #{createAt,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateAt,jdbcType=TIMESTAMP},
      #{version,jdbcType=BIGINT})
  </insert>

  <update id="update" parameterType="com.yankuang.equipment.equipment.model.SbTypeInfo" >
    update sb_type_info
    set type_id = #{typeId,jdbcType=BIGINT},
      main_para = #{mainPara,jdbcType=VARCHAR},
      main_para_type = #{mainParaType,jdbcType=VARCHAR},
      def_para1 = #{defPara1,jdbcType=VARCHAR},
      def_para1_type = #{defPara1Type,jdbcType=VARCHAR},
      def_para2 = #{defPara2,jdbcType=VARCHAR},
      def_para2_type = #{defPara2Type,jdbcType=VARCHAR},
      def_para3 = #{defPara3,jdbcType=VARCHAR},
      def_para3_type = #{defPara3Type,jdbcType=VARCHAR},
      def_para4 = #{defPara4,jdbcType=VARCHAR},
      def_para4_type = #{defPara4Type,jdbcType=VARCHAR},
      def_para5 = #{defPara5,jdbcType=VARCHAR},
      def_para5_type = #{defPara5Type,jdbcType=VARCHAR},
      def_para6 = #{defPara6,jdbcType=VARCHAR},
      def_para6_type = #{defPara6Type,jdbcType=VARCHAR},
      def_para7 = #{defPara7,jdbcType=VARCHAR},
      def_para7_type = #{defPara7Type,jdbcType=VARCHAR},
      def_para8 = #{defPara8,jdbcType=VARCHAR},
      def_para8_type = #{defPara8Type,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>