<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yankuang.equipment.equipment.mapper.ZjDepreciationCostMapper" >
    <resultMap id="BaseResultMap" type="com.yankuang.equipment.equipment.model.ZjDepreciationCostReport" >
        <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
        <result column="dept_code" property="deptCode" jdbcType="VARCHAR" />
        <result column="dept_type" property="deptType" jdbcType="TINYINT" />
        <result column="asset_comp" property="assetComp" jdbcType="VARCHAR" />
        <result column="year_month" property="yearMonth" jdbcType="VARCHAR" />
        <result column="january_repairs_cost" property="januaryRepairsCost" jdbcType="DECIMAL" />
        <result column="february_repairs_cost" property="februaryRepairsCost" jdbcType="DECIMAL" />
        <result column="march_repairs_cost" property="marchRepairsCost" jdbcType="DECIMAL" />
        <result column="april_repairs_cost" property="aprilRepairsCost" jdbcType="DECIMAL" />
        <result column="may_repairs_cost" property="mayRepairsCost" jdbcType="DECIMAL" />
        <result column="june_repairs_cost" property="juneRepairsCost" jdbcType="DECIMAL" />
        <result column="july_repairs_cost" property="julyRepairsCost" jdbcType="DECIMAL" />
        <result column="august_repairs_cost" property="augustRepairsCost" jdbcType="DECIMAL" />
        <result column="sep_repairs_cost" property="sepRepairsCost" jdbcType="DECIMAL" />
        <result column="oct_repairs_cost" property="octRepairsCost" jdbcType="DECIMAL" />
        <result column="nov_repairs_cost" property="novRepairsCost" jdbcType="DECIMAL" />
        <result column="dec_repairs_cost" property="decRepairsCost" jdbcType="DECIMAL" />
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        dept_name,dept_code,dept_type,asset_comp,year_month,january_repairs_cost,
        february_repairs_cost,march_repairs_cost,april_repairs_cost,may_repairs_cost,
        june_repairs_cost,july_repairs_cost,august_repairs_cost,sep_repairs_cost,
        oct_repairs_cost,nov_repairs_cost,dec_repairs_cost,create_at,update_at
   </sql>

    <select id="listEquipmentReceipt" parameterType="map" resultMap="BaseResultMap">
        SELECT t1.equipment_num AS equipmentNum,t1.remarks AS remark,t1.use_at AS useAt,
        t1.equipment_effect AS equipmentEffect,
        t1.is_use AS isUse,
        t1.use_id AS useId,
        t1.equipment_id AS equipmentId,
        dept.name AS departmentName,
        plan.equipment_model AS equipmentModel,
        z.tech_code AS techCode,z.asset_comp AS comp, z.is_new AS isNew,z.name AS equName
        FROM el_use_item t1
        LEFT JOIN el_department dept
        ON t1.equipment_position = dept.id
        LEFT JOIN el_plan_use plan
        ON t1.plan_use_id = plan.id
        LEFT JOIN sb_equipment_z z
        ON t1.equipment_id = z.id
        WHERE 1=1
        <if test="useAt != null">
            and t1.use_at like concat(#{useAt},'%')

        </if>
        <if test="isUse!=null">
            and t1.is_use = #{isUse,jdbcType=TINYINT}
        </if>
        AND dept.status != 99
        AND t1.status != 99
        AND plan.status != 99
        AND z.status != 99 ORDER BY t1.use_at desc
    </select>

    <insert id="create" parameterType="com.yankuang.equipment.equipment.model.ZjSbUseItem" >
      insert into el_zjsb_use_item (use_id,equipment_id,receipt_id, equipment_num, remark,
      equipment_effect, department_name, equipment_model,
      equ_Name, tech_code, comp,
      is_new,is_use,stub_unit, use_at, create_at, update_at)
      values (#{useId,jdbcType=BIGINT},#{equipmentId,jdbcType=BIGINT},#{receiptId,jdbcType=BIGINT},
      #{equipmentNum,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
      #{equipmentEffect,jdbcType=VARCHAR}, #{departmentName,jdbcType=VARCHAR}, #{equipmentModel,jdbcType=VARCHAR},
      #{equName,jdbcType=VARCHAR}, #{techCode,jdbcType=VARCHAR}, #{comp,jdbcType=BIGINT},
      #{isNew,jdbcType=TINYINT}, #{isUse,jdbcType=TINYINT}, #{stubUnit,jdbcType=VARCHAR}, #{useAt,jdbcType=VARCHAR},
      #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP})
  </insert>

</mapper>