<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yankuang.equipment.equipment.mapper.ZjxlReportMapper" >
    <resultMap id="BaseResultMap" type="com.yankuang.equipment.equipment.model.ZjxlReport" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="use_position" property="usePosition" jdbcType="VARCHAR" />
        <result column="use_position_num" property="usePositionNum" jdbcType="VARCHAR" />
        <result column="appendix_page" property="appendixPage" jdbcType="INTEGER" />
        <result column="zjxl_fee" property="zjxlFee" jdbcType="DOUBLE" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="sum" property="sum" jdbcType="DOUBLE" />
        <result column="appendix_page_sum" property="appendixPageSum" jdbcType="INTEGER" />
        <result column="use_department" property="useDepartment" jdbcType="VARCHAR" />
        <result column="number" property="number" jdbcType="VARCHAR" />
        <result column="satrap" property="satrap" jdbcType="VARCHAR" />
        <result column="sh_person" property="shPerson" jdbcType="VARCHAR" />
        <result column="center_manager" property="centerManager" jdbcType="VARCHAR" />
        <result column="section_chief" property="sectionChief" jdbcType="VARCHAR" />
        <result column="capital" property="capital" jdbcType="VARCHAR" />
        <result column="zjxl_year" property="zjxlYear" jdbcType="VARCHAR" />
        <result column="zjxl_month" property="zjxlMonth" jdbcType="VARCHAR" />
        <result column="zjxl_day" property="zjxlDay" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
    id, use_position, use_position_num, appendix_page, zjxl_fee, remark, sum, appendix_page_sum,
    use_department, number, satrap, sh_person, center_manager, section_chief,
    capital, zjxl_year, zjxl_month, zjxl_day
    </sql>

    <insert id="create" parameterType="com.yankuang.equipment.equipment.model.ZjxlReport" >
    insert into el_zjxl_zReport (
        <include refid="Base_Column_List" />)
    values (#{id,jdbcType=BIGINT}, #{usePosition,jdbcType=VARCHAR}, #{usePositionNum,jdbcType=VARCHAR},
      #{appendixPage,jdbcType=INTEGER}, #{zjxlFee,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR},
      #{sum,jdbcType=DOUBLE}, #{appendixPageSum,jdbcType=INTEGER}, #{useDepartment,jdbcType=VARCHAR},
      #{number,jdbcType=VARCHAR}, #{satrap,jdbcType=VARCHAR},
      #{shPerson,jdbcType=VARCHAR}, #{centerManager,jdbcType=VARCHAR}, #{sectionChief,jdbcType=VARCHAR},
      #{capital,jdbcType=VARCHAR},#{zjxlYear,jdbcType=VARCHAR },#{zjxlMonth,jdbcType=VARCHAR },#{zjxlDay,jdbcType=VARCHAR})
  </insert>
</mapper>